<?xml version='1.0' encoding='utf-8'?>
<widget id="com.flyovergames.nodegap" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>NodeGap</name>
    <description>
        A combination of the Ace editor, Node.js and Apache Cordova.
    </description>
    <author email="info@flyovergames.com" href="http://flyovergames.com">
        Flyover Games, LLC
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
